// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the /fonts/lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some /fonts/lines to source/_includes/custom/head.html

//$sans: "Optima", sans-serif;
//$serif: "Baskerville", serif;
//$mono: "Courier", monospace;
//$heading-font-family: "Verdana", sans-serif;
//$header-title-font-family: "Futura", sans-serif;
//$header-subtitle-font-family: "Futura", sans-serif;

@font-face {
    font-family: 'Linux Biolinum';
    src: url('/fonts/linbiolinum_ri-webfont.eot');
    src: url('/fonts/linbiolinum_ri-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/linbiolinum_ri-webfont.woff') format('woff'),
         url('/fonts/linbiolinum_ri-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('/fonts/linbiolinum_r-webfont.eot');
    src: url('/fonts/linbiolinum_r-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/linbiolinum_r-webfont.woff') format('woff'),
         url('/fonts/linbiolinum_r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Linux Biolinum';
    src: url('/fonts/linbiolinum_rb-webfont.eot');
    src: url('/fonts/linbiolinum_rb-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/linbiolinum_rb-webfont.woff') format('woff'),
         url('/fonts/linbiolinum_rb-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Linux Libertine';
    src: url('/fonts/linlibertine_rb-webfont.eot');
    src: url('/fonts/linlibertine_rb-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/linlibertine_rb-webfont.woff') format('woff'),
         url('/fonts/linlibertine_rb-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Linux Libertine';
    src: url('/fonts/linlibertine_r-webfont.eot');
    src: url('/fonts/linlibertine_r-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/linlibertine_r-webfont.woff') format('woff'),
         url('/fonts/linlibertine_r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Linux Libertine';
    src: url('/fonts/linlibertine_rbi-webfont.eot');
    src: url('/fonts/linlibertine_rbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/linlibertine_rbi-webfont.woff') format('woff'),
         url('/fonts/linlibertine_rbi-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Linux Libertine';
    src: url('/fonts/linlibertine_ri-webfont.eot');
    src: url('/fonts/linlibertine_ri-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/linlibertine_ri-webfont.woff') format('woff'),
         url('/fonts/linlibertine_ri-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}
