// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
   background-image: url("/assets/thetalkingfowl/images/back.png");
}

body > header {
   text-shadow: white 0px 1px 0px;
   background: none;
   h1 {
      font-size: 30px;
      a {
         color: #C3481E !important;
         font-family: $sans;
         font-weight: bold;
      }
   }
   h2 {
      color: #666666;
      font-size: 14px;
      font-style: italic;
   }
}

aside.sidebar section {
   font-size: 14px;
   h1 {
      font-size: 16px;
   }
}

div#main {
   background: none;
   div#content {
      background: none;
      section {
         h1 {
            font-size: 18px;
            font-family: $sans;
         }
         div#disqus_thread {
            font-size: 13px;
            font-family: $sans;
         }
      }
   }
}

nav {
   line-height: 27px;
   height: 27px;
   font-size: 16px !important;
   ul {
      padding-top: 0px !important;
   }
}

body > nav form .search {
   padding: 2px 6px;
}

article {
   header {
      margin-bottom: 20px;
      padding-top: 15px;
      padding-bottom: 5px;
      h1, h1 a {
         font-size: 26px;
         line-height: 32px;
         color: #444444;
         font-weight: normal;
         text-shadow: white 0px 1px 0px;
      }
      p.meta {
         position: relative;
         font-size: 11px;
      }
   }
   
   div.entry-content {
      font-family: $serif;
      font-size: 16px;
      color: #444444;
      line-height: 17px;
      p {
         font-family: $serif;
         font-size: 16px;
         color: #444444;
         line-height: 17px;
         text-align: justify;
         img {
            background-color: #ffffff !important;
         }
         code {
            line-height: 1.6em;
         }
      }
      ul, ol {
         margin-left: 35px;
         li {
            margin-bottom: 6px;
         }
      }
      table.post {
         border: 1px solid #ccc;
         margin: 0 -1px 24px 0;
         text-align: left;
         width: 100%;
         tr {
            th {
               font-weight: bold;
               padding: 7px 24px;
            }
            td {
               border-top: 1px solid #ccc;
               padding: 6px 24px;
            }
         }
      }
   }

   figure code span {
      font-size: 12px;
   }

   div.sharing {
      text-align: center;
      left: auto;
      right: auto;
      margin: auto !important;
      div.shr_class {
         margin: auto;
         div.shr-bookmarks ul.shr-socials {
            margin: auto !important;
            float: none !important;
            width: 420px !important;
         }
      }
   }
   
   footer {
      padding-bottom: 10px;
      p.meta {
         color: #666666;
         font-size: 14px;
      }
   }
}

body > footer {
   font-size: 13px;
   color: #666666;
}
